* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
}
.img {
   width: 1100px;
   border-radius: 60px;
   transition: all 700ms ease-in;
   height: 740px;
   
}
.img-container {
    display: flex;
    gap: 2rem;
}

 .collapse{
    width: 150px;
    border-radius: 60px;
    object-fit: cover;
    height: 740px;
    flex: 5;
    transition: all 700ms ease-in;
}
